 /*  GENERAL THROUGHOUT THE PAGE  */
 body{
    background-color: black;
    background-position: center;
    background-size: cover;
    color: orange;
    font-size:20px;
  }
  #banner{
    background-image: url("matt-duncan-IUY_3DvM__w-unsplash.jpg");
    background-size: cover;
    background-position: center; 
    height: 60vh;
    position: relative;
    text-align: center;
  }
  #quote{
    color:whitesmoke;
    font-size: 42px;
    position: absolute;
    white-space: nowrap;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  #intro{
    background-color: rgb(248, 179, 51);
  }
  #intro img{
    height: 40vh;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  /*  GENERAL THROUGHOUT THE PAGE END */
  /* NAVBAR */

/* Add a black background color to the top navigation */

.nav-menu {
    font-family: monospace;
    display: flex;
    justify-content: space-evenly;
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav-menu a {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .nav-menu a:hover {
    background-color: rgb(80, 80, 80);
    color: rgb(212, 160, 64);
  }
  
  /* Add an active class to highlight the current page */
  .nav-menu a.active {
    background-color: rgb(80, 80, 80);
    color: orange;
    border: 1px solid  rgb(212, 160, 64);
  }
  .nav-menu a.active:hover {
    color: rgb(212, 160, 64);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .nav-menu .icon {
    display: none;
  }
  /* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). 
     Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
    .nav-menu a:not(.active) {display: none;}
    .nav-menu a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
     This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 800px) {
    .nav-menu.responsive {position: relative;}
    .nav-menu.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  @media screen and (max-width: 800px) {
    .active{
        display: flex;
        justify-content: left;
        color:red;
    }
  }

  /* ATTEMPTING TO HAVE THE LISTS SIDE BY SIDE USING GRID */
.platforms{
    display: grid;
}
.first-list{
    grid-column: 1;
}
.second-list{
    grid-column: 2;
}
  /* ATTEMPTING TO HAVE THE LISTS SIDE BY SIDE USING GRID */

  /* NAVBAR END */
  #me{
    margin: 5% 10% 5% 10%;
  }
  #me a{
    color:rgb(14, 197, 14);
    text-decoration:none;
}
#me a:hover{
    color:rgb(0, 255, 0);
}
q{
    color: white;
}