
/*  GENERAL THROUGHOUT THE PAGE  */
body{
    background-color: black;
}
/*  GENERAL THROUGHOUT THE PAGE END */
/*  PARTS OF THE PAGE  */
#main-banner{
  background-image: url("Ronja_1406.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  height: 92.5vh;
}
#main-banner p{
  color: whitesmoke;
  font-size: 2vw;
  text-align: left;
  line-height: 1;
  position: absolute;
  white-space: nowrap;
  top: 60%;
  left: 30%;
  transform: translate(-50%,-50%);
}
#intro{
  background-image: url("northfolk-b_Qt9f2egBM-unsplash.jpg") ;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
  height: 100vh;
}
#intro p{
  background-color: whitesmoke;
  padding: 5%;
}
#insight{
  padding: 15% 30% 25% 30%;
}
@media only screen and (max-width:800px){ 
  #main-banner p{
    font-size: 2.5vw;
    top: 65%;
    left: 40%;
  }
} 
@media only screen and (max-width:600px){ 
  #main-banner p{
    font-size: 2.8vw;
  }
} 
/* TABLETS (iPAD) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #insight{
    padding: 15% 30% 25% 30%;
  }
}
/*  PARTS OF THE PAGE END */
/* NAVBAR */

/* Add a black background color to the top navigation */

.nav-menu {
    background-color: #1b2020;
    overflow: hidden;
    font-family: calluna light;
    letter-spacing: 0.2em;
    border-bottom: 6px solid #7e2501;
  }
  
  /* Style the links inside the navigation bar */
  .nav-menu a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px; 
  }
  /* Change the color of links on hover */
  .nav-menu a:hover {
    color:#7e2501;
    text-decoration: none;
  }
  /* Add an active class to highlight the current page */
  .nav-menu a.active {
    color: whitesmoke;
  }
  .nav-menu a.active:hover {
    color: #7e2501;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .nav-menu .icon {
    display: none;
  }
  /* When the screen is less than 800 pixels wide, hide all links, except for the active one. 
     Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 80px) {
    .nav-menu a:not(.active) {display: none;}
    .nav-menu a.icon {
      float: right;
      display: block;
    }
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
     This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (min-width: 80px) {
    .nav-menu.responsive {position: relative;}
    .nav-menu.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-menu.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

/* TRYING TO TARGET THE ACTIVE TAG TO KEEP IT PUSHED LEFT */
  @media screen and (min-width: 80px) {
    .active{
        justify-content: left;
        color:red;
    }
  }
  /* NAVBAR END */
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }
  